body {
    background-color: #022046;
    font: normal 15pt Arial;
    text-align: center;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 50%;
    height: 50%;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer {
    color: white;
    font-style: italic;
}

img#img_horario {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
}
