body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 50px;
}

#input-number {
    margin-top: 20px;
}

#add-button {
    margin-top: 10px;
    margin-bottom: 30px;
}

#number-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#number-list li {
    margin-bottom: 5px;
}

.alert {
    color: red;
    font-weight: bold;
}
